body{
	background: skyblue;
	border: 5px solid;
}
.mabio{
		font-family: serif;
		background: yellowgreen;
	  }
.w {
	und;
}
h2{
	background: white;
	text-align: center;
	font-family:"times new roman", times, serif;
	border: 0.5px solid red;
  }
 